* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: whitesmoke;
}

.navRight img{
    max-width: 150px;
}

.navCenter a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

.navLeft a{
    padding: 5px;
    color: #1DA1F2;
}

.toggle-btn {
    display: none;
}

@media screen and (max-width: 768px){
    .navLeft{
        display: none;
    }
    .toggle-btn {
        display: none;
    }
    .navBar {
        padding: 0px 20px;
    }
}

@media  screen and (max-width: 425px) {
    .navCenter{
        display: none;
    }
    .showNavCenter{
        display: grid;
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        background-color: whitesmoke;
    }
    .showNavCenter a:hover {
        background-color: lightseagreen;
    }
    .toggle-btn{
        display: block;
    }

    .toggle-btn:hover {
        transform: rotate(90deg);
        transition: 0.3s linear;
    }
}